.app {
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  min-height: 100vh;
  box-sizing: border-box;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .search-bar {
  padding: 10px;
  color: #716194;
  width: 50%;
  outline: none;
  border: none;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 20px;
}

.search-form .search-button {
  padding: 10px 15px;
  background: lightcoral;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
